<?xml version="1.0" encoding="UTF-8" ?>
<root>
  <!--log config-->
  <log>
    <!--identify path of log file-->
    <log_path>./output/logs/</log_path>
    <log_prefix>delta</log_prefix>

    <!--identify max size of single log file, MB-->
    <log_max_file_size>5</log_max_file_size>

    <!--log level: DEBUG < INFO < WARN < ERROR-->
    <db_log_level>DEBUG</db_log_level>

    <!--interval that put log info to async logger, ms-->
    <log_sync_interval>500</log_sync_interval>
  </log>

  <wal>
    <!--identify path of wal file-->
    <wal_path>./output/wals/</wal_path>
    <wal_base_name>00000.wal</wal_base_name>

    <!--identify max size of single wal file-->
    <wal_max_file_size>10</wal_max_file_size>
  </wal>

  <db>
    <!-- 层级数 -->
    <num_levels>7</num_levels>
    <!-- 0级压缩触发文件数量 -->
    <l0_compaction_trigger>4</l0_compaction_trigger>
    <!-- 0级写入减慢触发文件数量 -->
    <l0_slowdown_writes_trigger>8</l0_slowdown_writes_trigger>
    <!-- 0级写入停止触发文件数量 -->
    <l0_stop_writes_trigger>12</l0_stop_writes_trigger>
    <!-- 最大内存压缩级别 -->
    <max_mem_compact_level>2</max_mem_compact_level>
    <!-- 迭代期间读取的数据样本之间的近似字节间隔 -->
    <read_bytes_period>1048576</read_bytes_period>

    <!-- 不存在则创建 -->
    <create_if_missing>true</create_if_missing>
    <!-- 已存在则报错 -->
    <error_if_exists>false</error_if_exists>
    <!-- 严格检查模式 -->
    <paranoid_checks>false</paranoid_checks>

    <!-- MemTable 大小阈值 4MB -->
    <write_buffer_size>4194304</write_buffer_size>
    <!-- 最大打开文件数 -->
    <max_open_files>1000</max_open_files>
    <!-- 块大小 4MB-->
    <block_size>4096</block_size>
    <!-- 键重启间隔 -->
    <block_restart_internal>16</block_restart_internal>
    <!-- SST 文件最大大小 2MB -->
    <max_file_size>2097152</max_file_size>
    <!-- ZSTD 压缩级别 -->
    <zstd_compression_level>1</zstd_compression_level>
    <!-- 重用日志文件 -->
    <reuse_logs>false</reuse_logs>
  </db>
</root>